$gradient: linear-gradient(to bottom, rgb(217, 6, 71), rgb(235, 64, 44));
$f-color: rgb(128, 128, 128);
$h-color: rgb(54, 54, 54);

$mobile-l: 425px;
$tablet-s: 500px;
$tablet-m: 600px;
$tablet-l: 750px;
$desktop: 1124px;
